apache-airflow[celery,postgres,s3,crypto,jdbc,google_auth,redis,slack,ssh,sentry,kubernetes,statsd]==1.10.9
psycopg2-binary
werkzeug==0.16.1
flask-bcrypt
SQLAlchemy==1.3.13
celery==4.3.0
WTForms==2.2.1
credentials
boto3
awscli==1.17.3
pymysql
slack
mysql-connector-python==8.0.19
mysqlclient==1.4.6
matplotlib
scipy
sklearn
slackclient==1.0.7
credentials
pyarrow==0.12.0
xmltodict==0.12.0
pycurl==7.43.0.5
PuLP==2.1
beautifulsoup4==4.8.2
selenium==3.141.0
lxml
html5lib
xgboost==0.81
intel-scikit-learn==0.19.2
scikit-learn==0.19.2
mlxtend==0.17.0
dill==0.3.2
pandasql==0.7.3
nltk==3.3
spacy==2.3.2
vine==5.0.0a1
multiprocess==0.70.10
rpy2==2.8.3
urllib3==1.24.1
pymer4==0.7.0